<section class="grid gap-10">
  <aside class="flex justify-between gap-4">
    @for (item of [1, 2, 3]; track $index) {
      <div class="bg-white shadow-md flex-1 p-6 rounded-xl">
        <div class="flex gap-4">
          <app-svgs
            [svg]="cartSvg"
            svgclass="w-10 h-10 bg-primary text-white p-2 rounded-lg"
          />
          <div class="">
            <h3 class="text-base font-normal">Total Book Read</h3>
            <p class="text-2xl text-primary font-bold">100</p>
          </div>
        </div>
      </div>
    }
  </aside>

  <aside class="flex justify-between gap-4">
    <div class="p-6 rounded-xl h-full bg-white flex-1 grid place-items-center">
      <p class="text-primary text-2xl font-semibold">Graph</p>
    </div>
    <div class="grid gap-4 w-[30%]">
      @for (item of [1, 2, 3]; track $index) {
        <div class="bg-white shadow-md p-6 rounded-xl">
          <div class="flex gap-4">
            <app-svgs
              [svg]="cartSvg"
              svgclass="w-10 h-10 bg-primary text-white p-2 rounded-lg"
            />
            <div class="">
              <h3 class="text-base font-normal">Total Book Read</h3>
              <p class="text-2xl text-primary font-bold">100</p>
            </div>
          </div>
        </div>
      }
    </div>
  </aside>

  <aside class="flex justify-between gap-4">
    @for (item of [1, 2]; track $index) {
      <div class="bg-white shadow-md flex-1 p-6 rounded-xl">
        <div class="flex gap-4">
          <app-svgs
            [svg]="cartSvg"
            svgclass="w-10 h-10 bg-primary text-white p-2 rounded-lg"
          />
          <div class="">
            <h3 class="text-base font-normal">Total Book Read</h3>
            <p class="text-2xl text-primary font-bold">100</p>
          </div>
        </div>
      </div>
    }
  </aside>
</section>
