<app-nav />
<section class="relative h-fit">
  <!-- <img
    src="assets/hero_bg.png"
    alt="hero_bg"
    class="absolute inset-0 z-[-1] w-full h-full"
  /> -->

  <div
    class="py-20 md:py-[10rem] z-[1] h-full w-full flex flex-col gap-2 justify-center items-center"
  >
    <div class="relative flex items-center gap-2 text-primary">
      <div class="text-end font-normal text-sm md:text-4xl">
        <p>GAIN</p>
        <p>SHARE</p>
      </div>
      <h1 class="font-bold text-[42px] md:text-8xl">KNOWLEDGE</h1>
      <div class="absolute left-[-2rem] bottom-[-4rem] h-10 w-10">
        <app-svgs [svg]="svg" />
      </div>
    </div>

    <p
      class="text-[#101828] w-[90%] text-sm md:text-base lg:text-lg md:w-[35%] mx-auto text-center"
    >
      A Large Collection Of Books, Journals, Articles And Resources To Suit Your
      Reading Needs.
    </p>

    <div
      class="bg-white p-1 flex items-center gap-2 rounded-lg w-[90%] md:w-[50%] md:max-w-[30rem] mt-6 md:mt-10 border border-primary"
    >
      <div class="h-full flex flex-1 items-center gap-2 pl-2">
        <img src="/assets/img/search.svg" alt="search" />
        <input
          type="text"
          placeholder="Search for book"
          class="h-full outline-none border-none text-sm text-primary w-[80%]"
        />
      </div>

      <div
        class="bg-primary flex w-fit gap-1 h-full justify-center items-center p-2 text-sm rounded-e-lg"
      >
        <app-button text="Search" />
        <img src="/assets/img/search-icon.svg" alt="search-icon" />
      </div>
    </div>
  </div>
</section>
<div class="bg-white text-center py-20">
  <div
    class="containerClass grid grid-cols-2 md:grid-cols-3 gap-4 md:flex-row justify-between"
  >
    @for (item of headerDetail; track $index) {
      <div
        class="flex flex-1 bg-primary/10 px-2 py-4 md:p-6 rounded-2xl flex-col md:flex-row gap-2 md:gap-4 items-center border-b-[3px] border-primary hover:bg-primary transition duration-300 cursor-pointer hover:text-white"
      >
        <img [src]="item.img" alt="" class="w-10 md:w-12" />
        <p class="text-xs md:text-sm font-semibold">{{ item.title }}</p>
      </div>
    }
  </div>
</div>

<section class="relative py-20">
  <h3
    class="text-primary text-center mb-12 font-bold font-[playball] text-3xl z-[1] relative"
  >
    Hot & Trending Books
  </h3>

  <div class="overflow-x-hidden relative z-[1] w-full max-w-[1600px] mx-auto">
    <div class="flex gap-16 w-full">
      <div class="flex gap-8 md:gap-16 justify-between animate">
        @for (item of bookData; track $index) {
          <app-book [book]="item" class="z-[1] w-[12rem] md:w-[19rem]" />
        }
      </div>
      <div class="flex gap-8 md:gap-16 justify-between animate">
        @for (item of bookData; track $index) {
          <app-book [book]="item" class="z-[1] w-[12rem] md:w-[19rem]" />
        }
      </div>
    </div>
  </div>
  <!-- <img src="assets/genhero.png" alt="" class="absolute top-0 bottom-0 h-full" /> -->
</section>

<section class="py-20 bg-white">
  <div
    class="containerClass flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <div class="w-full lg:w-[40%] gap-2 md:gap-4 items-center">
      <img src="/assets/img/book.png" alt="book" class="w-full object-cover" />
    </div>
    <div class="lg:w-[45%] flex flex-col gap-4 md:gap-6">
      <h2 class="text-4xl font-semibold">
        Explore
        <span class="text-primary font-[playball] underline">Our Readers</span>
        Delight
      </h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quasi
        laboriosam, totam sunt unde voluptatum illum possimus voluptatibus
        dignissimos! Doloribus.
      </p>
      <div class="flex gap-4">
        <app-button
          text="Get Started"
          styles="bg-transparent border border-primary text-primary px-8 py-3 rounded-md "
        />
      </div>
    </div>
  </div>
</section>

<section class="">
  <div
    class="containerClass py-12 md:py-20 grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6"
  >
    @for (book of bookData; track $index) {
      <app-book [book]="book" />
    }
  </div>
</section>

<section class="py-20 bg-white">
  <div
    class="containerClass flex flex-col md:flex-row justify-between items-center gap-8"
  >
    <div class="lg:w-[45%] flex flex-col gap-4 md:gap-6">
      <h2 class="text-4xl font-semibold">
        Join
        <span class="text-primary font-[playball] underline">Book Club</span>
      </h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quasi
        laboriosam, totam sunt unde voluptatum illum possimus voluptatibus
        dignissimos! Doloribus.
      </p>
      <div class="flex gap-4">
        <app-button
          text="Get Started"
          styles="bg-primary text-white px-8 py-2 rounded-md"
        />
        <app-button
          text="Get Started"
          styles="bg-primary text-white px-8 py-2 rounded-md"
        />
      </div>
    </div>

    <div class="lg:w-[40%] gap-2 md:gap-4 items-center w-full">
      <img src="/assets/img/book.png" alt="book" class="w-full object-cover" />
    </div>
  </div>
</section>

<section class="bg-white py-20">
  <div class="containerClass grid gap-8">
    <h2 class="text-2xl text-center font-semibold">Top Categories</h2>
    <div class="grid grid-cols-3 xl:flex gap-2 justify-between">
      @for (item of topCategories; track $index) {
        <div
          class="flex justify-center lg:flex-1 bg-primary/10 p-4 md:px-6 md:py-10 rounded-2xl flex-col gap-2 md:gap-4 items-center hover:bg-primary transition duration-300 cursor-pointer hover:text-white"
        >
          <img [src]="item.img" alt="" class="w-10" />
          <p class="text-sm md:text-base font-semibold">{{ item.title }}</p>
        </div>
      }
    </div>
  </div>
</section>
<!-- <section class="p-12 rounded-3xl"></section> -->
<div
  class="relative py-20 px-4 md:py-[8rem] overflow-hidden flex flex-col gap-6 md:gap-8 justify-center items-center"
>
  <div class="bg-[#000000C9] absolute inset-0 z-[-1]"></div>
  <div class="bg-primary/70 backdrop-blur-2xl] absolute inset-0 z-[2]"></div>
  <div
    class="absolute w-[25%] h-[50%] top-[-2rem] left-[-5rem] bg-[#12085C] blur-3xl"
  ></div>
  <div
    class="absolute w-[25%] h-[50%] bottom-0 left-[20%] bg-[#FEC59E] blur-3xl"
  ></div>
  <div
    class="absolute w-[25%] h-[50%] top-0 right-[40%] bg-[#F6707C] blur-3xl"
  ></div>
  <div
    class="absolute w-[25%] h-[50%] bottom-0 right-[20%] bg-[#FE4F77] blur-3xl"
  ></div>
  <div
    class="absolute w-[25%] h-[50%] top-0 right-[-2rem] bg-[#00ACFF] blur-3xl"
  ></div>
  <p
    class="text-white z-[3] font-[playball] text-3xl md:text-4xl text-center xl:text-6xl"
  >
    Dive Into The World of Warm Books.
  </p>
  <div class="bg-white z-[3] rounded-md">
    <div
      class="flex gap-2 bg-primary m-[2px] p-2 rounded-md"
      routerLink="/books"
    >
      <app-button text="Explore Book Library" />
      <img src="assets/search-icon.svg" alt="search-icon" />
    </div>
  </div>
</div>

<app-footer />
