@import "tailwindcss";

@theme {
  --color-primary: brown;
  /* --color-primary: #810ea7; */
  --color-pribg: #810ea710;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #a52a2a10;
  /* background-color: #810ea710; */
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #a52a2a;
  border-radius: 6px;
}
.form-input {
  @apply outline-none border-2 rounded-xl w-full p-3 border-primary/70 
         text-sm placeholder:text-[#00000091] focus:border-primary 
         transition-colors;
}

.containerClass {
  @apply w-[90%] max-w-[1400px] mx-auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
